@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'oswald';
  src: url('./Oswald.ttf');
}

body {
  font-family: 'oswald', sans-serif;
}

.scroll-vertical::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
  width: 0.5rem;
}

.murray-content::-webkit-scrollbar {
  width: 0;
}

/* Track */
.scroll-vertical::-webkit-scrollbar-track,
.murray-content::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
.scroll-vertical::-webkit-scrollbar-thumb,
.murray-content::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb {
  background: #fff;
}

.mobile-menu:checked ~ nav > .nav-items {
  margin-top: 0;
  opacity: 1;
}

.nav-items {
  transition-property: margin-top, opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  margin-top: -183px;
}

.view-more {
  display: flex;
}

.view-content-0,
.view-content-1,
.view-content-2 {
  text-overflow: ellipsis;
  overflow-y: hidden;
  height: 6rem;
  max-height: 6rem;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  transition-property: height, max-height;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

#view-more-less-0:checked ~ .view-content-0,
#view-more-less-1:checked ~ .view-content-1,
#view-more-less-2:checked ~ .view-content-2 {
  -webkit-line-clamp: unset;
  text-overflow: initial;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;

  transition-property: height, max-height;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

#view-more-less-0:checked ~ .view-less-0,
#view-more-less-1:checked ~ .view-less-1,
#view-more-less-2:checked ~ .view-less-2 {
  display: flex;
}

#view-more-less-0:checked ~ .view-more-0,
#view-more-less-1:checked ~ .view-more-1,
#view-more-less-2:checked ~ .view-more-2 {
  display: none;
}
